body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 0.94rem;
    font-weight: 200;
    line-height: 1.2;
    color: #29323a;
    text-align: left;
    background-color: #f9fbfd;
}